{% load i18n beautiful_fields_tags compress %}{% get_current_language as LANGUAGE_CODE %}
{% with catalog_key=name name='date_added'  %}

<!-- Date Range container -->
<div id="{{ name }}-app" class="ex-date-range">
    <strong>{% trans 'Date' %}</strong>
    <input id="id_{{ name }}" type="hidden" name="{{ name }}" value=""/>
</div>
<!-- /Date Range container -->

<!-- Range template -->
<script type="text/template" id="{{ name }}-app-template">
{% include "publication_backbone/ranges/partials/range.html" %}
</script><!-- /#{{ name }}-app-template -->

<!-- Range, Slider commons -->
{% compress js %}
<!-- Range Model -->
<script type="text/javascript">
{% include "publication_backbone/ranges/models/RangeModel.js" %}
</script>

<!-- Slider View -->
<script type="text/javascript">
{% include "publication_backbone/ranges/views/DateView.js" %}
</script>
{% endcompress %}

<!-- Date app js -->
<script type="text/javascript">
{% include 'publication_backbone/ranges/_date_app.js' with catalog_key=catalog_key name=name LANGUAGE_CODE=LANGUAGE_CODE only %}
</script>
<!-- /Date app js -->
{% endwith %}